.single-topbar {
  display: flex;
}

.single-topbar .breadcrumb {
  flex: 1;
}

.single-topbar .breadcrumb .breadcrumb-list {
  display: flex;
  align-items: center;
}

.breadcrumb .breadcrumb-item {
  padding-right: 0.5rem;
}

.breadcrumb .breadcrumb-item:not(:last-child):after {
  content: "/";
  opacity: 0.1;
  padding-left: 0.5rem;
}

.breadcrumb .item {
  font-size: 0.75rem;
}
.breadcrumb .breadcrumb-link {
  font-size: 0.75rem;
}

.breadcrumb .breadcrumb-link:hover {
  text-decoration: underline;
}

@media Only screen and (max-width: 768px) {
  .breadcrumb .breadcrumb-item:not(:last-child):after {
    padding-left: 0.1rem;
  }

  .single-topbar .breadcrumb {
    width: 100%;
  }


  .breadcrumb .item {
    font-size: 0.5rem;
  }
  .breadcrumb .breadcrumb-link {
    font-size: 0.6rem;
  }
}
