.single-tabs .tab-list{

    display: flex;
    column-gap: 1.875rem;
    padding-bottom: 1rem;
    border-bottom: .0625rem solid #dee0ea;
 

}

.single-tabs .tab-list .tab-button.active{

  font-weight: 600;
 

}


.single-tabs .tab-description{

    margin:.9375rem 0;

}


.single-tabs .tab-description p{
font-size: .875rem;
    
}



.single-tabs h3{

    font-size: 1rem;
    font-weight: 500;
    margin-bottom: .3125rem;

}

.single-tabs table{

    border-collapse: collapse;
    width: 100%;

}

.single-tabs table th,td{

    border: .0625rem solid #dee0ea;
    font-size: .875rem;
    text-align: start;
    padding: 10px 6px;
 

}






