.single-tabs .tab-list{

    display: flex;
    column-gap: 1.875rem;
    padding-bottom: 1rem;
    border-bottom: .0625rem solid #dee0ea;
 

}

.single-tabs .tab-list .tab-button.active{

  font-weight: 600;
 

}


.single-tabs .tab-description{

    margin:.9375rem 0;

}


.single-tabs .tab-description p{
font-size: .875rem;
    
}



.single-tabs h3{

    font-size: 1rem;
    font-weight: 500;
    margin-bottom:1.25rem;
    margin-top: .625rem;

}

.single-tabs table{

    border-collapse: collapse;
    width: 100%;

}

.single-tabs table th,td{

    border: .0625rem solid #dee0ea;
    font-size: .875rem;
    text-align: start;
    padding: 10px 6px;
 

}
.single-tabs .comment-list{


display: flex;
flex-direction: column;
row-gap: 1.25rem;


}

.single-tabs .comment-list li{

    display: flex;
    gap: 1.5rem;
    
    }

 .comment-list .comment-avatar img{

 display: flex;
 border-radius: 50%;

 }   
    
 .comment-text .comment-star {

  display: flex;

}



.comment-text .comment-star i{

    color: gold;
    font-size: 12px;

}


.comment-text .comment-meta {

display: flex;
font-size: .75rem;
    
    }
.comment-meta span:first-child{


font-weight: bold;

}



.comment-text p {

   font-size: .875rem;
        
        }





