.slider {
  position: relative;
}

.slider-elements {
}

.slider-item {
  position: relative;
  height: calc(100vh - 137px);
  display: flex;
  align-items: center;
}
.slider-item .slider-image img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 60%;
  z-index: -1;
}
.slider-item .slider-title {
  font-size: 1.125rem;
  font-weight: 500;
}

.slider-item .slider-heading {
  font-size: 3.75rem;
  font-weight: 600;
}

.slider-buttons {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  height: calc(100vh - 137px);
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider-buttons button {
  background-color: white;
  width: 2.2rem;
  height: 3.8rem;
  border-radius: 50%;
  padding: 0 2rem;
  opacity: 0.5;
  border: 0.0625rem solid #dee0ea;
  transition: all 0.2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider-buttons i {
  font-size: 1.875rem;
  color: black;
}

.slider-buttons button:hover {
  background-color: #1367ef;
  opacity: 1;
  border-color: #1367ef;
}

.slider-buttons button:hover i {
  color: #fff;
}

.slider-dots {
  position: absolute;
  bottom: 2%;
  width: 100%;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-dots .slider-dot {
  background-color: #1367ef;
  margin: 0 0.2rem;
  display: inline-block;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 100%;
  transition: all 0.2s ease;
}

.slider-dots .slider-dot:hover {
  opacity: 0.5;
}


/*slider responsive codes*/
  
@media only screen and (max-width:768px) {

.slider .slider-item{

    height: calc(100vh - 9.6875rem);

}

.slider-buttons{

    display: none;
}

}