.section-title {
  text-align: center;
  margin-bottom: 1.875rem;
}

.section-title h2 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 0.8;
  margin-bottom: 0.25rem;
}

.categories {
  margin: 2.5rem 0;
}

.category-list {
  width: 100%;
  display: flex;
  gap: 1.875rem;
  flex-wrap: wrap;
}

/*categories responsive codes*/

@media only screen and (max-width: 1050px) {
  .category-list {
  }
}

/*section products  css*/

.products {
  margin-bottom: 2.5rem;
  position: relative;
}


.products .product-list {
  display: flex;
  column-gap: 1rem;
  flex-wrap: wrap;
}

/*campaigns start*/

.campaigns .campaigns-wrapper {
  display: flex;
  gap: 1.875rem;
  margin-bottom: 2.5rem;
  flex-wrap: wrap;
}

/*campaigns responsive*/
@media only screen and (max-width: 768px) {
  .campaigns-wrapper .campaign-item {
    flex: unset !important;
    width: 100%;
  }
}

/*campaigns end*/

/*blogs start*/

.blogs {
  margin: 1.875rem 0;
}

.blogs .blog-list {

  display: grid;
  gap: 1.875rem;
  grid-template-columns: 1fr 1fr 1fr;
  flex-wrap: wrap;
}


/*blogs responsive*/
@media only screen and (max-width: 768px) {

    .blogs .blog-list{


grid-template-columns: 1fr;

}



}



/*blogs end*/


/*brands start*/

.brands{


margin: 2.5rem 0;



}

.brands .brand-list{




  border: .0625rem solid #dee0ea;
  padding: 1.875rem 0;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

}


/*brands end*/

/*campaign-single start*/
.campaign-single{

background-image: url("../../img/single-campaign.png");
padding: 8.75rem .9375rem;
background-attachment: fixed;
background-size: cover;
background-position: center;

margin-bottom: 1.875rem;

display: flex;
justify-content: center;
align-items: center;


}

.campaign-single .campaign-wrapper{



  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

 

}

.campaign-wrapper h2{

  color: white;
  font-size: 1.5625rem;
}

.campaign-wrapper strong{

  color: white;
  font-size: 3.4375rem;
    font-weight: 600;
    margin: 1.25rem 0;

}
.campaign-wrapper span{

  background-color: white;
  display: inline-block;
  width: 3.125rem;
    height: .3125rem;

}

.campaign-wrapper a{

background-color: white;
transition: ease .2s all;
margin: 1.25rem 0;

}

.campaign-wrapper a:hover{

  background-color:  #1367ef;
  border: .0625rem solid #1367ef;
  color: white;

  }
  
  
.campaign-wrapper a:hover i{

 
  color: white;

  }
  


/*campaign-single end*/

/*policy start*/


.policy{

border: .0625rem solid #dee0ea;
margin: top 40%;

}

.policy .policy-list{

display: flex;
justify-content: space-between;
padding: 25px 0;
flex-wrap: wrap;


}


.policy .policy-item{

  display: flex;
  gap: .5rem;

}


.policy-item i{

  font-size: 3.125rem;
  display: flex;


}

.policy-item .policy-texts{

  display: flex;
  flex-direction: column;
  justify-content: center;

}

.policy-item .policy-texts strong{

font-weight: 600;
  
}

.policy-item .policy-texts span{

  font-size: .75rem;
  
}
/*policy end*/

